
.err-notification-modal-top-item {
    font-size: 13px;
    color: #333;
    margin-bottom: 3px;
    width: 100%;
    word-wrap: break-word;
}

.err-notification-modal {
    display: flex;

    .err-notification-modal-left {
        display: flex;
        flex-direction: column;
        width: 90px;
        min-width: 130px;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        color: #999;
        .err-notification-modal-img {
            width: 100%;
        }
    }
    .err-notification-modal-right {
        margin-left: 20px;
        font-size: 13px;
        color: #333;
        flex: 1;

        .err-notification-modal-right-tit {
            margin-bottom: 10px;
        }

        .err-notification-modal-right-item {
            font-size: 13px;
            color: #333;
            margin-bottom: 4px;
            width: 100%;
            word-wrap: break-word;
        }

        .err-notification-modal-tel {
            margin-top: 15px;
            border-radius: 4px;
            border: 1px solid #d6d6d6;
            width: 170px;
            height: 32px;
            line-height: 30px;
            text-align: center;
            background-color: #fcfcfc;
        }
    }
}
