.muti-period-more-select{
    position: relative;
    .date-header{
        margin-right: 0!important;
    }
    .topBarSwitch{
        display: none;
    }
    .icon-date,
    .icon-select {
        position: absolute;
        right: .1rem;
        top: .08rem;
        font-size: .15rem;
    }

}
