@font-face {
    font-family: 'xfwc';
    src: url('./font/iconfont.eot');
    src: url('./font/iconfont.eot?#iefix') format('embedded-opentype'),
         url('./font/iconfont.woff') format('woff'),
         url('./font/iconfont.ttf') format('truetype'),
         url('./font/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.icon {
	font-family: 'xfwc';
	display: inline-block;
    font-style: normal;
    vertical-align: baseline;
    text-align: center;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    cursor: pointer;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon:before { display : block; }

.icon-add:before { content: "\e601"; }
.icon-increase:before { content: "\e620"; }
.icon-inventory:before { content: "\e621"; }
.icon-copy::before { content: "\e619" }
.icon-search-voucher:before { content: "\e65c"; }
.icon-import-voucher:before { content: "\e65d"; }
.icon-import-running:before { content: "\e664"; }
.icon-search-running:before { content: "\e648"; }
.icon-search::before { content: "\e686"; }
.icon-money:before { content: "\e61a"; }
.icon-pack-up:before { content: "\e617"; }
.icon-cancel:before { content: "\e605"; }
.icon-triangle:before { content: "\e606"; }
.icon-save:before { content: "\e607"; }
.icon-share:before { content: "\e608"; }
.icon-delete:before { content: "\e659"; }
.icon-selecte:before { content: "\e61e"; }
.icon-report:before { content: "\e627"; }
.icon-deposit:before { content: "\e622"; }
.icon-edit:before { content: "\e60c"; }
.icon-balance:before { content: "\e626"; }
.icon-anti-settlement:before { content: "\e623"; }
.icon-new:before { content: "\e60d"; }
.icon-home:before { content: "\e60e"; }
.icon-business-tax:before { content: "\e630"; }
.icon-calculator:before { content: "\e64c"; }
.icon-preview:before { content: "\e610"; }
.icon-undetermind:before { content: "\e624"; }
.icon-modification:before { content: "\e631"; }
.icon-clean::before { content: "\e62a" }
.icon-delete-plus:before { content: "\e615"; }
.icon-confirm:before { content: "\e611"; }
.icon-credit:before { content: "\e632"; }
.icon-arrow-right:before { content: "\e612"; }
.icon-income:before { content: "\e62b"; }
.icon-calendar:before { content: "\e613"; }
.icon-unfold:before { content: "\e61f"; }
.icon-initial-value:before { content: "\e61c"; }
.icon-choose:before { content: "\e614"; }
.icon-cash:before { content: "\e633"; }
.icon-settle:before { content: "\e616"; }
.icon-close:before { content: "\e61d"; }
.icon-tag:before { content: "\e64f"; }
.icon-other-expenses:before { content: "\e634"; }
.icon-close-item:before { content: "\e62f"; }
.icon-expenses:before { content: "\e62c"; }
.icon-income-from-investment:before { content: "\e635"; }
.icon-add-plus-fill:before { content: "\e60a"; }
.icon-financial-expenses:before { content: "\e636"; }
.icon-add-plus:before { content: "\e618"; }
.icon-the-invosing:before { content: "\e633"; }
.icon-profit:before { content: "\e625"; }
.icon-other-income:before { content: "\e637"; }
.icon-management-feet:before { content: "\e638"; }
.icon-purse:before { content: "\e624"; }
.icon-settlement:before { content: "\e629"; }
.icon-trial-balance:before { content: "\e625"; }
.icon-selling-expenses:before { content: "\e639"; }
.icon-label:before { content: "\e62e"; }
.icon-arrow-down:before { content: "\e61b"; }
.icon-arrow-up:before { content: "\e82e"; }
.icon-wodezichan:before { content: "\e61c"; }
.icon-assetslook:before { content: "\e62c"; }
.icon-select:before { content: "\e63c"; }
.icon-xuanze:before { content: "\e63b"; }
.icon-assets-look:before { content: "\e653"; }
.icon-tongzhi:before { content: "\e63d"; }
.icon-batchpaytobank:before { content: "\e63e"; }
.icon-receivables:before { content: "\e64d"; }
.icon-payable:before { content: "\e64e"; }
.icon-v:before { content: "\e643"; }
.icon-shenhe:before { content: "\e651"; }
.icon-chexiao:before { content: "\e622"; }
.icon-yishenhe:before { content: "\e63f"; }
.icon-rmb:before { content: "\e654"; }
.icon-more:before { content: "\e7f3"; }
.icon-balance-scale:before { content: "\e758"; }
.icon-xjllb:before { content: "\e641"; }
.icon-slyeb:before { content: "\e640"; }
.icon-bata:before { content: "\e665"; }
.icon-temporary:before { content: "\e642"; }
.icon-draftBox:before { content: "\e637"; }
.icon-usage:before { content: "\e69c"; }
.icon-lock-open:before { content: "\e660"; }
.icon-lock-close:before { content: "\e65f"; }
.icon-locked:before { content: "\e662"; }
.icon-yjsfb:before { content: "\e66a"; }
.icon-ambsyb:before { content: "\e674"; }
.icon-kaitong:before { content: "\e600"; }
.icon-switch:before { content: "\e6a5"; }
.icon-admin:before { content: "\e613"; }
.icon-last:before { content: "\e675"; }
.icon-next:before { content: "\e676"; }
.icon-zhifubao:before { content: "\e62d"; }
.icon-question:before { content: "\e66c"; }
.icon-purchase:before { content: "\e82c"; }
.icon-fujian:before   { content: "\e6c6"; }
.icon-download:before   { content: "\e632"; }
.icon-wbyeb:before   	{ content: "\e68c"; }
.icon-wbsz:before   	{ content: "\e687"; }
.icon-prompt:before   	{ content: "\e663"; }
.icon-placeholder:before    { content: "\e65b"; }
.icon-home-checked:before    { content: "\e647"; }
.icon-home-unchecked:before    { content: "\e646"; }
.icon-setting-checked:before    { content: "\e645"; }
.icon-setting-unchecked:before    { content: "\e644"; }
.icon-security:before    { content: "\e649"; }
.icon-all:before    { content: "\e657"; }
.icon-check:before    { content: "\e655"; }
.icon-inventory-setting:before    { content: "\e652"; }
.icon-intercourse-setting:before    { content: "\e650"; }
.icon-running-setting:before    { content: "\e64b"; }
.icon-account-setting:before    { content: "\e65b"; }
.icon-ass-setting:before    { content: "\e65e"; }
.icon-currency-setting:before    { content: "\e661"; }
.icon-assets-setting:before    { content: "\e656"; }
.icon-bank-setting:before    { content: "\e666"; }
.icon-set-of-books-setting:before    { content: "\e64a"; }
.icon-ellipsis:before { content: "\e604"; }
.icon-forbiden:before { content: "\e667"; }
.icon-up:before { content: "\e682"; }
.icon-setting:before { content: "\e60b"; }
.icon-swap-position:before { content: "\e82d"; }
.icon-add-small:before { content: "\e668"; }
.icon-swap-position-small:before { content: "\e669"; }
.icon-calendar:before { content: "\e66b"; }
.icon-xmyeb:before { content: "\e681"; }
.icon-lxyeb:before { content: "\e67c"; }
.icon-zhyeb:before { content: "\e684"; }
.icon-wlyeb:before { content: "\e683"; }
.icon-project-setting:before { content: "\e670"; }
.icon-tick:before { content: "\e608"; }
.icon-type-change:before { content:"\e673";}
.icon-kcyeb:before {content:"\e680";}
.icon-warehouse:before { content:"\e679";}
.icon-shenpi:before { content:"\e690";}
.icon-search-shenpi:before { content:"\e685";}

.icon-liushui:before { content:"\e695";}
.icon-piliangjizhang:before { content:"\e696";}
.icon-shoufukuan:before { content:"\e697";}
.icon-zuofei:before { content:"\e698";}
.icon-guazhang:before { content:"\e699";}
.icon-yiguazhang:before { content:"\e69b";}
.icon-yifukuan:before { content:"\e69d";}
.icon-yizuofei:before { content:"\e6a0";}
.icon-yishoukuan:before { content:"\e69f";}
.icon-yijizhang:before { content:"\e6a7";}

.icon-swap:before { content: "\e6ae"; }
.icon-swap-change:before { content: "\e691"; }
.icon-date:before { content: "\e689"; }
.icon-poundage:before { content: "\e688"; }
.icon-network-offline:before { content: "\e68a"; }
.icon-circle-right:before { content: "\e68f"; }
.icon-current-add:before { content: "\e68d"; }
.icon-project-add:before { content: "\e68e"; }
.icon-inventory-add:before { content: "\e68b"; }
.icon-calendar-simple:before { content: "\e694"; }
.icon-cutover:before { content: "\e692"; }
.icon-test:before { content: "\e693"; }
.icon-adjustment:before { content: "\e69a"; }
.icon-turn-left:before { content: "\e69e"; }
.icon-account-add:before    { content: "\e6a3"; }
.icon-next-level:before    { content: "\e6ad"; }
.icon-add-add:before    { content: "\e60f"; }
.icon-clear:before    { content: "\e6a4"; }
.icon-sort:before    { content: "\e6a6"; }
.icon-fqsp:before    { content: "\e6ab"; }
.icon-fqsp-nb:before    { content: "\e6a8"; }
.icon-fqsp-zc:before    { content: "\e6a9"; }
.icon-fqsp-sr:before    { content: "\e6aa"; }
.icon-related:before    { content: "\e6ac"; }
.icon-empty-spd:before    { content: "\e6af"; }
