
.my-textarea {
    display: inline-block;
    width: 100%;
    .am-textarea-control{
        padding: 0;
        textarea{
            font-size: inherit;
            color: inherit;
            line-height: normal;
        }
    }
}
