
.asskmyebcategory-select{
	float: left;

    &-title{

    }

	&-item{
		margin-left: 10px;
		// width: 100px;
	}
}


// 辅助核算搜索框
.asskmyeb-serch {
	float: left;
	// width: 120px;
	//margin-left: 15px;
	position: relative;
	&-icon {
		position: absolute;
		top: 10px;
		left: 5px;
		z-index: 3;
	}
	.ant-input {
		padding: 4px 7px 4px 20px;
	}
}

.asskmyeb {
	// .title{
	// 	margin: 12px 0;
	// 	padding: 0px 20px;
	// 	min-width: 800px;
    // 	max-width: 1280px;
	// }
	.title-date{
		width: 120px;
	}
	.title-checkboxtext{
		height: 28px;
		line-height: 28px;
		margin-right: 0px;
		margin-left: 0px;
		.title-checkbox{
			margin-left: 8px;
			line-height: 28px;
		}
	}
	.ant-select-selection{
		height: 28px;
		font-size: 12px;
		color: #333;
		.ant-select-selection__rendered{
			line-height: 28px;
		}
	}
}

    .asskmyeb {
		.asskmyebcategory-select{
			width:18%;
			max-width:170px;
			min-width:130px;
			position:relative;
			height: 28px;
			margin-left: 8px;
			height: 28px;
			line-height: 28px;
			font-size: 12px;
			color: #333;
			.asskmyebcategory-select-item{
				min-width: 70px;
				max-width:120px;
				left:48px;
				right:0;
				position: absolute;
				.ant-select-selection{
					.ant-select-selection__rendered{
						margin-left: 4px;
						margin-right: 0px;
						padding: 0px;
						.ant-select-selection-selected-value{
							padding-right: 2px;
						}
					}
					.ant-select-arrow{
						right: 4px;
					}
				}
			}
		}

		.asskmyeb-serch{
			display: block;
			width:10%;
			max-width:120px;
			min-width:70px;
			height: 28px;
			margin-left: 8px;
			.asskmyeb-serch-icon{
				top: 9px;
			}
			.ant-input{
				padding: 0 7px 0 20px;
			    height: 28px;
			    line-height: 28px;
				font-size: 12px;
				color: #333;
			}
		}

		.asskmyeb-ac-search-box{
			width:15%;
			max-width:156px;
			min-width:106px;
			position:relative;
			margin-left: 8px;
			height: 28px;
			line-height: 28px;
			font-size: 12px;
			color: #333;
			.asskmyeb-ac-search{
				min-width:70px;
				max-width:120px;
				left:36px;
				right:0;
				position: absolute;
				.ant-select-selection{
					.ant-select-selection__rendered{
						margin-left: 4px;
						margin-right: 0px;
						padding: 0px;
						.ant-select-selection-selected-value{
							padding-right: 2px;
						}
					}
					.ant-select-arrow{
						right: 4px;
					}
				}
			}
		}

		.asskmyeb-ac-double-serch-box{
			width:13%;
			max-width:156px;
			min-width:106px;
			position:relative;
			height: 28px;
			margin-left: 8px;
			line-height: 28px;
			font-size: 12px;
			color: #333;
			.asskmyebcategory-select-item{
				min-width: 70px;
				max-width:120px;
				left:36px;
				right:0;
				position: absolute;
				.ant-select-selection{
					.ant-select-selection__rendered{
						margin-left: 4px;
						margin-right: 0px;
						padding: 0px;
						.ant-select-selection-selected-value{
							padding-right: 2px;
						}
					}
					.ant-select-arrow{
						right: 4px;
					}
				}
			}
		}

		.refresh-btn{
			width: 50px;
		    border-radius: 6px;
		    height: 28px;
		    padding: 0px;
		    font-size: 12px;
		    color: #222;
		    text-align: center;
			background-color: #fff;
		}

		.title-dropdown{
			border: 1px solid #d9d9d9;
		    height: 28px;
		    line-height: 28px;
		    padding: 0 10px;
		    border-radius: 6px;
		    width: 50px;
		    padding: 0px;
		    text-align: center;
		    color: #222;
			background-color: #fff;
		}

		.ant-select-dropdown-menu-item{
			padding: 7px 6px;
		}
	}


// @media screen and (min-width: 1271px) and (max-width: 1426px) {
// 	.asskmyeb {
// 		.asskmyebcategory-select{
// 			height: 28px;
// 			margin-left: 8px;
// 			height: 28px;
// 			line-height: 28px;
// 			font-size: 12px;
// 			color: #333;
// 			.asskmyebcategory-select-item{
// 				margin-left: 0px;
// 				width: 104px;
// 				.ant-select-selection{
// 					.ant-select-selection__rendered{
// 						margin-left: 4px;
// 						margin-right: 0px;
// 						padding: 0px;
// 						.ant-select-selection-selected-value{
// 							padding-right: 2px;
// 						}
// 					}
// 					.ant-select-arrow{
// 						right: 4px;
// 					}
// 				}
// 			}
// 		}
//
// 		.asskmyeb-serch{
// 			width: 128px;
// 			height: 28px;
// 			margin-left: 8px;
// 			.asskmyeb-serch-icon{
// 				top: 9px;
// 			}
// 			.ant-input{
// 				padding: 0 7px 0 20px;
// 			    height: 28px;
// 			    line-height: 28px;
// 				font-size: 12px;
// 				color: #333;
// 			}
// 		}
//
// 		.asskmyeb-ac-search-box{
// 			height: 28px;
// 			margin-left: 8px;
// 			height: 28px;
// 			line-height: 28px;
// 			font-size: 12px;
// 			color: #333;
// 			.asskmyeb-ac-search{
// 				width: 200px;
// 				.ant-select-selection{
// 					.ant-select-selection__rendered{
// 						margin-left: 4px;
// 						margin-right: 0px;
// 						padding: 0px;
// 						.ant-select-selection-selected-value{
// 							padding-right: 2px;
// 						}
// 					}
// 					.ant-select-arrow{
// 						right: 4px;
// 					}
// 				}
// 			}
// 		}
//
// 		.asskmyeb-ac-double-serch-box{
// 			height: 28px;
// 			margin-left: 8px;
// 			height: 28px;
// 			line-height: 28px;
// 			font-size: 12px;
// 			color: #333;
// 			.asskmyebcategory-select-item{
// 				margin-left: 0px;
// 				width: 68px;
// 				.ant-select-selection{
// 					.ant-select-selection__rendered{
// 						margin-left: 4px;
// 						margin-right: 0px;
// 						padding: 0px;
// 						.ant-select-selection-selected-value{
// 							padding-right: 2px;
// 						}
// 					}
// 					.ant-select-arrow{
// 						right: 4px;
// 					}
// 				}
// 			}
// 		}
//
// 		.refresh-btn{
// 			width: 50px;
// 		    border-radius: 6px;
// 		    height: 28px;
// 		    padding: 0px;
// 		    font-size: 12px;
// 		    color: #222;
// 		    text-align: center;
// 			background-color: #fff;
// 		}
//
// 		.title-dropdown{
// 			border: 1px solid #d9d9d9;
// 		    height: 28px;
// 		    line-height: 28px;
// 		    padding: 0 10px;
// 		    border-radius: 6px;
// 		    width: 50px;
// 		    padding: 0px;
// 		    text-align: center;
// 		    color: #222;
// 			background-color: #fff;
// 		}
//
// 		.ant-select-dropdown-menu-item{
// 			padding: 7px 6px;
// 		}
// 	}
// }
//
// @media screen and (min-width: 1427px) {
// 	.asskmyeb {
// 		.asskmyebcategory-select{
// 			height: 28px;
// 			margin-left: 8px;
// 			height: 28px;
// 			line-height: 28px;
// 			font-size: 12px;
// 			color: #333;
// 			.asskmyebcategory-select-item{
// 				margin-left: 0px;
// 				width: 104px;
// 				.ant-select-selection{
// 					.ant-select-selection__rendered{
// 						margin-left: 4px;
// 						margin-right: 0px;
// 						padding: 0px;
// 						.ant-select-selection-selected-value{
// 							padding-right: 2px;
// 						}
// 					}
// 					.ant-select-arrow{
// 						right: 4px;
// 					}
// 				}
// 			}
// 		}
//
// 		.asskmyeb-serch{
// 			width: 128px;
// 			height: 28px;
// 			margin-left: 8px;
// 			.asskmyeb-serch-icon{
// 				top: 9px;
// 			}
// 			.ant-input{
// 				padding: 0 7px 0 20px;
// 			    height: 28px;
// 			    line-height: 28px;
// 				font-size: 12px;
// 				color: #333;
// 			}
// 		}
//
// 		.asskmyeb-ac-search-box{
// 			height: 28px;
// 			margin-left: 8px;
// 			height: 28px;
// 			line-height: 28px;
// 			font-size: 12px;
// 			color: #333;
// 			.asskmyeb-ac-search{
// 				width: 200px;
// 				.ant-select-selection{
// 					.ant-select-selection__rendered{
// 						margin-left: 4px;
// 						margin-right: 0px;
// 						padding: 0px;
// 						.ant-select-selection-selected-value{
// 							padding-right: 2px;
// 						}
// 					}
// 					.ant-select-arrow{
// 						right: 4px;
// 					}
// 				}
// 			}
// 		}
//
// 		.asskmyeb-ac-double-serch-box{
// 			height: 28px;
// 			margin-left: 8px;
// 			height: 28px;
// 			line-height: 28px;
// 			font-size: 12px;
// 			color: #333;
// 			.asskmyebcategory-select-item{
// 				margin-left: 0px;
// 				width: 224px;
// 				.ant-select-selection{
// 					.ant-select-selection__rendered{
// 						margin-left: 4px;
// 						margin-right: 0px;
// 						padding: 0px;
// 						.ant-select-selection-selected-value{
// 							padding-right: 2px;
// 						}
// 					}
// 					.ant-select-arrow{
// 						right: 4px;
// 					}
// 				}
// 			}
// 		}
//
// 		.refresh-btn{
// 			width: 50px;
// 		    border-radius: 6px;
// 		    height: 28px;
// 		    padding: 0px;
// 		    font-size: 12px;
// 		    color: #222;
// 		    text-align: center;
// 			background-color: #fff;
// 		}
//
// 		.title-dropdown{
// 			border: 1px solid #d9d9d9;
// 		    height: 28px;
// 		    line-height: 28px;
// 		    padding: 0 10px;
// 		    border-radius: 6px;
// 		    width: 50px;
// 		    padding: 0px;
// 		    text-align: center;
// 		    color: #222;
// 			background-color: #fff;
// 		}
//
// 		.ant-select-dropdown-menu-item{
// 			padding: 7px 6px;
// 		}
// 	}
// }


.ant-select-tree li a {
	padding: 1px 2px;
}
.ant-select-tree li ul,
.ant-tree li ul,{
	padding: 0 0 0 7px;
}
