.pay-success-submit-box {
    // width:935px;
    min-width: 800px;
    max-width: 1200px;

    .pay-success-goback {
        padding: 20px 0 0 20px;
    }

    .submit-center{
        background: #ffffff;
        width: 100%;
        height:99px;
        line-height: 99px;
        margin-top: 35px;
        color:#333333;
        padding: 0 20px;
    }

    .center-left{
        font-family:PingFangSC-Regular;
        line-height: 99px;
        float: left;
        & i{
            float: left;
            color: #5ec9f6;
            margin: 27px 16px 26px 0;
        }
        & p{
            float: left;
            font-size:24px;
            line-height: 28px;
            margin-top: 22px;
        }
        & span{
            font-size: 16px;
        }
    }

    .center-right{
        float: right;
        font-family:PingFangSC-Regular;
        font-size:24px;
        color:#333333;
        & span{
            color:#ec7646;
        }
    }
    .submit-footer{
        background: #ffffff;
        width: 100%;
        height: 455px;
        margin-top: 20px;
        padding-top: 81px;
        color: #333333;
        & p{
            width: 100%;
            text-align: center;
            font-size: 16px;
            font-family:PingFangSC-Regular;
        }
        & p:nth-child(1){
            font-family:PingFangSC-Medium;
            font-size: 20px;
            margin-bottom: 52px;
        }
        & span{
            color:#2778b2;
        }
        & p:nth-child(4){
            background: #5ec9f6;
            border-radius: 8px;
            width: 242px;
            height: 41px;
            margin: 0 auto;

            font-size: 24px;
            color: #ffffff;
            line-height: 41px;
            cursor: pointer;
        }
        & p:nth-child(5){
            border: 1px solid #5ec9f6;
            border-radius: 8px;
            width: 242px;
            height: 41px;
            margin: 0 auto;
            font-size: 24px;
            color: #5ec9f6;
            line-height: 41px;
            cursor: pointer;
            margin-top: 10px;
        }
    }

    .submit-btn{
        text-align: center;
        margin-top: 117px;
        span{
            display: inline-block;
            font-size: 24px;
            width: 242px;
            height: 41px;
            cursor: pointer;
            border-radius: 8px;
            text-align: center;
            margin-right: 30px;
        }
        & span:nth-child(1){
            background: #5ec9f6;
            border-radius: 8px;
            color: #ffffff;
            line-height: 41px;
        }
        & span:nth-child(2){
            border: 1px solid #5ec9f6;
            color: #5ec9f6;
            line-height: 41px;
            cursor: pointer;
            margin-top: 10px;
        }
    }
}
