.switch-text-switch {//圆形在左
	position: relative;
    display: inline-block;
    box-sizing: border-box;
    width: 51px;
    height: 22px;
    line-height: 22px;
    vertical-align: middle;
    border-radius: 20px;
    background-color: #5E81D1;
    cursor: pointer;
    -webkit-transition: all .3s cubic-bezier(.78, .14, .15, .86);
    transition: all .3s cubic-bezier(.78, .14, .15, .86);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.switch-text-switch:after{//圆形
	position: absolute;
    width: 18px;
    height: 18px;
    top: 2px;
	left: 2px;
    border-radius: 100%;
    box-sizing: border-box;
    background-color: #fff;
    color: #ccc;
    content: " ";
    cursor: pointer;
    -webkit-transition: left .3s cubic-bezier(.78, .14, .15, .86);
    transition: left .3s cubic-bezier(.78, .14, .15, .86);
}

.switch-text-switchChecked {//圆形在右
	position: relative;
	display: inline-block;
	box-sizing: border-box;
	width: 51px;
	height: 22px;
	line-height: 22px;
	vertical-align: middle;
	border-radius: 20px;
	background-color: #5E81D1;
	cursor: pointer;
	-webkit-transition: all .3s cubic-bezier(.78, .14, .15, .86);
	transition: all .3s cubic-bezier(.78, .14, .15, .86);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.switch-text-switchChecked:after{//右圆位置
	position: absolute;
    width: 18px;
    height: 18px;
    top: 2px;
	right: 2px;
    border-radius: 100%;
    box-sizing: border-box;
    background-color: #fff;
    color: #ccc;
    content: " ";
    cursor: pointer;
    -webkit-transition: left .3s cubic-bezier(.78, .14, .15, .86);
    transition: left .3s cubic-bezier(.78, .14, .15, .86);
}
.switch-text-switchChecked {
	background-color:  #FF8348;
}

.switch-text-inner {
    color: #fff;
    font-size: 12px;
    position: absolute;
    top : 0;
	right: 5px;
}
.switch-text-switchChecked .switch-text-inner {
	left: 5px;
}


.threeTextSwitch{
    width: 61px;
}
.fourTextSwitch{
    width: 74px;
}
