@import '~app/style/themes/common.less';

.warehouse-config {
    .warehouse-config-table-width {
        .item-underline{
            text-decoration: underline;
        }
        & > li{
            font-size: 12px;
            color: #333;
            &:nth-child(1) {
                min-width: 28px;
                max-width: 28px;
    			justify-content: center;
    			align-items: center;
                & > label {
                    height: 34px;
                }
            }
            &:nth-child(2) {
                min-width: 30px;
                max-width: 30px;
                .anticon-plus {
                    line-height: 39px;
                    font-size: 18px;
                }
            }
            &:nth-child(3) {
                min-width: 100px;
                max-width: 100px;
            }
            &:nth-child(4) {
                flex:1;
            }
            &:nth-child(5) {
                min-width: 80px;
                max-width: 80px;
                align-items: center;
            }
        }
    }
    .table-body > div:nth-of-type(even) {
        background: @bouble-background;
    }
    .table-body > div:nth-of-type(odd) {
        background: white;
    }
    .out-content {
        cursor: pointer;
        width: 100%;
        display: inline-block;
    }
}


.warehouseConf-modal-list{
    .warehouseConf-modal-list-item{
        width: 48%;
        display: inline-block;
        margin-bottom: 12px;
        & > label{
            width: 80px;
            display: inline-block;
            line-height: 28px;
        }
        & > div{
            width: calc(100% - 80px);
            display: inline-block;
            & > .ant-select{
                width: 100%
            }
        }
        &:nth-child(2n) {
            margin-left: 1%;
        }
    }
    .ant-checkbox-wrapper{
        font-size: 12px;
        color: #333;
        line-height: 26px;
    }
    .ant-radio-wrapper {
        font-size: 12px;
        color: #333;
        margin-left: 15px;
        line-height: 26px;
    }
    .small-margin {
        margin-bottom: 6px !important;
        .ant-checkbox-wrapper {
            margin-left: 15px;
        }
    }
    .accountConf-separator {
        height: 1px;
        background-color: #dddddd;
        width: 100%;
        margin-bottom: 12px;
    }
}
