@font-face {
    font-family: 'xfwc';

    src: url('./font/iconfont10.eot');
    src: url('./font/iconfont10.eot?#iefix') format('embedded-opentype'),
    url('./font/iconfont10.woff') format('woff'),
    url('./font/iconfont10.ttf') format('truetype'),
    url('./font/iconfont10.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.icon{
	font-family: 'xfwc';
	display: inline-block;
    font-style: normal;
    vertical-align: baseline;
    text-align: center;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    cursor: pointer;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon:before			 	  { display : block;  }
.icon {
	&-lrpz:before          	  { content : "\e629"; }
	&-cxpz:before             { content : "\e628"; }
    &-lrls:before             { content : "\e60a"; }
    &-cxls:before             { content : "\e609"; }
	&-lr:before               { content : "\e625"; }
	&-zcfz:before             { content : "\e626"; }
	&-kmye:before             { content : "\e624"; }
	&-mx:before               { content : "\e621"; }
	&-asskmye:before          { content : "\e623"; }
	&-assmxb:before           { content : "\e620"; }
	&-jz:before               { content : "\e61a"; }
	&-config:before           { content : "\e61e"; }
	&-fzhs:before             { content : "\e61d"; }
    &-boss:before             { content : "\e60c"; }
    &-assetskmyeb:before      { content : "\e622"; }
    &-assetsmxb:before        { content : "\e61f"; }
    &-assets:before           { content : "\e61c"; }
    &-xjllb:before            { content : "\e62c"; }
    &-slyeb:before            { content : "\e62b"; }
    &-wlyeb:before            { content : "\e671"; }
    &-zhyeb:before            { content : "\e673"; }
    &-xmyeb:before            { content : "\e66f"; }
    &-lsyeb:before            { content : "\e62f"; }
    &-typeyeb:before          { content : "\e641"; }
    &-wlmxb:before            { content : "\e670"; }
    &-zhmxb:before            { content : "\e672"; }
    &-xmmxb:before            { content : "\e66e"; }
    &-lsmxb:before            { content : "\e62e"; }
    &-typemxb:before          { content : "\e639"; }
    &-slmxb:before            { content : "\e62a"; }
    &-yjsfb:before            { content : "\e66a"; }
    &-ambsyb:before           { content : "\e674"; }
    &-searchApproval:before   { content : "\e675"; }
    &-notification:before     { content : "\e63d"; }
    // &-beta:before             { content : "\e666"; }
    &-beta:before             { content : "\e665"; }
    &-caret:before            { content : "\e67a"; }
    &-lock-close:before       { content : "\e65f"; }

    &-pay-fujian:before       { content : "\e601"; }
    &-pay-assets:before       { content : "\e642"; }
    &-pay-shuqian:before      { content : "\e627"; }

    &-income:before           { content : "\e666"; }
    &-pay:before              { content : "\e678"; }
    &-inner-none:before       { content : "\e632"; }
    &-wbsz:before             { content : "\e687"; }
    &-wbyeb:before            { content : "\e688"; }
    &-wbmxb:before            { content : "\e689"; }
    &-kmyeDown:before         { content : "\e649"; }
    &-kmyeUp:before           { content : "\e65c"; }
    &-log:before              { content : "\e655"; }
    &-cgsz:before             { content : "\e69c"; }
    &-xssz:before             { content : "\e69d"; }
    &-kcsz:before             { content : "\e69e"; }
    &-lrkcdj:before           { content : "\e693"; }
    &-cxkcdj:before           { content : "\e694"; }
    &-lrcgdj:before           { content : "\e68f"; }
    &-cxcgdj:before           { content : "\e690"; }
    &-lrxsdj:before           { content : "\e691"; }
    &-cxxsdj:before           { content : "\e692"; }
    &-cgyeb:before            { content : "\e696"; }
    &-cgmxb:before            { content : "\e697"; }
    &-xsyeb:before            { content : "\e698"; }
    &-xsmxb:before            { content : "\e699"; }
    &-kcyeb:before            { content : "\e69a"; }
    &-kcmxb:before            { content : "\e69b"; }
    &-fan:before              { content : "\e617"; }
    &-nix:before              { content : "\e619"; }
    &-xin:before              { content : "\e618"; }
    &-Mxb:before              { content : "\e614"; }
    &-Report:before           { content : "\e613"; }
    &-Search:before           { content : "\e612"; }
    &-Yeb:before              { content : "\e611"; }
    &-Home:before             { content : "\e610"; }
    &-Config:before           { content : "\e60f"; }
    &-Edit:before             { content : "\e60e"; }
    &-Menu:before             { content : "\e62d"; }
    &-sob-delete:before       { content : "\e631"; }
    &-sob-edit:before         { content : "\e630"; }
    &-sob-download:before     { content : "\e633"; }
    &-amiba:before            { content : "\e63a"; }
    &-fujian1:before          { content : "\e63b"; }
    &-huijiban:before         { content : "\e63c"; }
    &-zhinengban:before       { content : "\e63f"; }
    &-zichanguanli:before     { content : "\e640"; }
    &-shiyongban:before       { content : "\e643"; }
    &-zhangtaoshu:before      { content : "\e646"; }
    &-shenpi:before           { content : "\e667"; }
    &-jinxiaocun:before       { content : "\e677"; }
    &-shengchanxiangmu:before { content : "\e68c"; }
    &-shigongxiangmu:before   { content : "\e6a3"; }
    &-amiba-line:before       { content : "\e648"; }
    &-fujian1-line:before     { content : "\e64a"; }
    &-huijiban-line:before    { content : "\e64b"; }
    &-zhinengban-line:before  { content : "\e64f"; }
    &-zichanguanli-line:before{ content : "\e650"; }
    &-shiyongban-line:before  { content : "\e64d"; }
    &-zhangtaoshu-line:before { content : "\e64e"; }
    &-zongzhang-line:before   { content : "\e67c"; }
    &-shenpi-line:before      { content : "\e663"; }
    &-jinxiaocun-line:before      { content : "\e676"; }
    &-shengchanxiangmu-line:before{ content : "\e68b"; }
    &-shigongxiangmu-line:before  { content : "\e6a2"; }
    &-double-up:before        { content : "\e77b"; }
    &-double-down:before      { content : "\e77c"; }
    &-simple-plus:before      { content : "\e634"; }
    &-sandy-clock:before      { content : "\e731"; }
    &-running-pz-show:before  { content : "\e60d"; }
    &-biaozhunbaobiao:before  { content : "\e660"; }
    &-xiaofanbaobiao:before   { content : "\e661"; }
    &-tableGather:before      { content :"\e65c"; }
    &-tableExpand:before      { content :"\e649"; }
    &-bigPlus:before          { content :"\e65d"; }
    &-config-edit:before      { content :"\e65b"; }
    &-bigDel:before           { content :"\e647"; }
    &-smallDel:before         { content :"\e644"; }
    &-smallAdd:before         { content :"\e645"; }
    &-inventoryYeb:before     { content :"\e66c"; }
    &-inventoryMxb:before     { content :"\e66d"; }
    &-editConfig:before       { content :"\e66b"; }
    &-double-change:before    { content :"\e679"; }
    &-editTip:before          { content :"\e67b"; }
    &-editPlus:before         { content :"\e67e"; }
    &-big-plus:before         { content :"\e67f"; }
    &-calendar-change:before  { content :"\e681"; }
    &-edit-underline-pen:before   { content :"\e680"; }
    &-edit-pen:before         { content :"\e682"; }
    &-download:before         { content :"\e683"; }
    &-upload:before           { content :"\e684"; }
    &-suoping:before          { content :"\e68e"; }
    &-weisuoping:before       { content :"\e68d"; }
    &-count-inventory:before     { content :"\e686"; }
    &-count-same:before     { content :"\e685"; }
    &-dateTwo:before     { content :"\e695"; }
    &-switch:before     { content :"\e69f"; }
    &-circle-confirm:before     { content :"\e6a0"; }
    &-circle-del:before     { content :"\e6a1"; }
    &-not-filter:before     { content :"\e6a5"; }
    &-filter:before     { content :"\e6a4"; }
}
