.edit-assist{
    .margin-top{
        margin-top: .1rem;
    }
    .padding-top{
        padding-top: .1rem;
    }
    .assist-button{
        display: inline-block;
        border-radius: .12rem;
        background-color: #F1F1F1;
        margin: 0 .1rem .1rem 0;
        font-size: .11rem;
        font-weight: bold;
        text-align: center;
        line-height: .2rem;
        padding: .02rem .1rem;
        border: 1px solid #D8D8D8;
        min-width: .4rem;
    }
    .assist-select{
        border: 1px solid #5E81D1;
        color: #5E81D1;
    }
    .assist-add{
        background-color: #fff;
        color: #5E81D1;
        border: 1px dashed #5E81D1;
    }
}
