.kmyeb {
	.ba {
		@vertical-padding: .04rem;
		background: #fff;
		// border-top: 1px solid #eee;
		margin-bottom: 1px;
		padding: 0 .1rem @vertical-padding 0;
		// padding: 0.01rem .1rem .04rem 0;

		&-title {
			display: flex;
			left:0;
			padding: 0 .1rem 0 0;
			height: .3rem;
			line-height: .3rem;
			background: #FFDBA6;
			font-size: .13rem;
			color: #222;

			&-item {
				text-align: right;
				flex:1;
				width: 0;
			}
		}

		& > div {
			display: flex;
			color: #999;
			font-size: .12rem;
			justify-content: space-between;

			& > .name {
				display: flex;
				color: #222;
				font-size: .12rem;
				padding: .07rem 0 .01rem .1rem;
				text-decoration: underline;
				word-break:break-all;
				flex-direction: row;

				.ba-flag {
					display: flex;
					position:relative;
					margin: .05rem .05rem 0 0;
					height: .08rem;
					background: #D1C0A5;
					bottom: .01rem;

					&:after {
						content: "";
						position: absolute;
						top: 0;
						right: 0;
						width: 0;
						height: 0;
						border-width: .04rem .03rem .04rem 0;
						border-style:solid;
						border-color:transparent #FFF3E3 transparent transparent;
					}
				}
			}
			& > .name-asscategory {
				text-decoration: none;
			}

			& > .btn {
				display: flex;
				flex: 1;
				min-width: .12rem;
				justify-content: flex-end;
				align-items: center;
				color: #b4b4b4;
			}

			&.ba-info span {
				display: flex;
				justify-content: flex-end;
				width: 0;
				flex: 1;
				color:#666;
				font-size: .11rem;
			}
		}
	}

	.ba-ass {
		background: rgb(254, 243, 227);
	}

	.upacid {
		.name {
			.name-name {
				color: #999;
			}
		}
	}

	.date-header{
		.antd-single-picker{
			width: auto;
		}
	}
}
.icon-arrow-down {
	padding: 0!important;
	height: .12rem!important;
	&::before {
		padding: 0;
		height: .12rem;
	}
}

.kmyeb-select{
	margin-bottom: .05rem;
	background: #fff;
	padding: 0 .1rem;
	height: .35rem;
	display: flex;
	align-items: center;

	&-select {
		display: flex;
		color: #222;
		flex: 2;
		margin-right: .05rem;


		&-text {
			display: flex;
			flex: 1;
			width: 0;
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
		}

		&-trangle {
			margin-top: .04rem;
			color: #ccc;
		}
	}
	&-inputwrap {
		position: relative;
		display: flex;
		flex: 3;
		height: .26rem;
		padding-left: .07rem;
		font-size: .14rem;

		&:before {
			content: '';
			width: 1px;
			height: .20rem;
			background: #ddd;
			position: absolute;
			left: 0;
			top: .03rem;
		}
	}
	&-icon {
		position: absolute;
		left: .1rem;
		top: .07rem;
		color: #ccc;
		z-index: 4;
	}
	&-input {
		display: flex;
		width: 100%;
		background: #eee;
		border: 0 none;
		text-indent: .17rem;
		height: .26rem;

		&:focus {
			box-shadow: 0 0;
		}
	}
}
