@import '~app/style/variable.less';

.sob-option-sob-type {
    height: .4rem;
    display: flex;
    justify-content: center;
    font-size: .14rem;
    width: 100%;
    color: #999;
    border-bottom: #d7d7d7 1px solid;
    background: #fff;

    & > li {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1.8rem;
    }

    .sob-option-sob-type-current {
        color: #222;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            width: .17rem;
            height: 2px;
            background: #a90101;
            left: 43%;
            bottom: 0;
        }
    }
}
