
.antd-mobile-text-input-wrap {
    display: inline-block;
    width: 100%;
}

.antd-mobile-text-input-text-align-right {
    .am-list-item .am-input-control input {
        text-align: right;
    }
}
