
.sob-welcome-wrap {
	background: #fff;

	.sob-welcome-img {

		// width: 100%;
		// height: 100%;
		// display: flex;
		// align-items: center;

		& > img {
			width: 100%;
			border: none 0;
			padding: 0;
			margin: 0;
		}
	}

	.sob-welcome-text-wrap {
		text-align: center;
		color: #222;
		padding: .2rem;
		font-size: .15rem;

		.sob-welcome-text-bold {
			font-size: .24rem;
		}
	}
}
