@import '~app/style/themes/common.less';

.zcfzb-table-width {
	& > li {
		&:nth-child(1){
			min-width: 99px;
			max-width: 259px;
			flex: 99;
			padding: 0 4px;
		}
		&:nth-child(2),&:nth-child(6){
			min-width: 40px;
			max-width: 40px;
			flex: 40;
			padding: 0 4px;
		}
		&:nth-child(3),&:nth-child(4),&:nth-child(7),&:nth-child(8){
			min-width: 120px;
			max-width: 120px;
			flex: 120;
			padding: 0 4px;
		}
		&:nth-child(5){
			min-width: 99px;
			max-width: 260px;
			flex: 99;
			padding: 0 4px;
		}
	}
}

.zcfzb-table-justify {
	& > li {
		&:nth-child(1){
			& > span {
				text-align: left;
				width: 100%;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
		}
		&:nth-child(2),&:nth-child(6){
			min-width: 40px;
			max-width: 40px;
			flex: 40;
		}
		&:nth-child(3),&:nth-child(4),&:nth-child(7),&:nth-child(8){
			min-width: 120px;
			max-width: 120px;
			flex: 120;
			& > span {
				text-align: right;
			}
		}
		&:nth-child(5){
			min-width: 99px;
			max-width: 260px;
			flex: 99;
			justify-content: flex-start;
			align-items: center;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
		.zcfzb-table-show-rule-icon {
			font-size: 13px;
			margin-left: 5px;
			color: #555;
		}
	}
}

.zcfzb{
	font-size: 12px;
	color: #333;
	// min-width: 800px;
	// max-width: 1120px;
	.title-title{
		.ant-select-selection--single{
			height: 28px;
			.ant-select-selection__rendered{
				line-height: 28px;
				font-size: 12px;
				color: #333;
			}
		}
	}
	.title-checkboxtext{
		margin-left: 8px;
		& > span{
			line-height: 28px;
			padding-right: 0px;
		}
	}
	.refresh-btn{
		height: 28px;
		border-radius: 6px;
	    padding: 0 10px;
	    font-size: 12px;
	    color: #222;
	    background: #fff;
	    margin-left: 10px;
	}
	.title-dropdown{
		color: #222;
		background: #fff;
	}

	.table-title{
		overflow-x: hidden;
		overflow-y: scroll;
	}
}


// .zcfzb-table-title,
// .zcfzb-table-item{
// 	& > li{
// 		.vertical-mixin(@line-height);
// 		&:nth-child(4n + 1){
// 			width: 15%;
// 			overflow: hidden;
// 		}
// 		&:nth-child(4n + 2){
// 			width: 5%;
// 			text-align: center;
// 			overflow: hidden;
// 		}
// 		&:nth-child(4n + 3){
// 			width: 15%;
// 			text-align: right;
// 			overflow: hidden;
// 		}
// 		&:nth-child(4n + 4){
// 			width: 15%;
// 			text-align: right;
// 			overflow: hidden;
// 		}
// 		&:last-child{
// 			border-right: 0;
// 		}
// 	}
// }
// .zcfzb-table-title{
// 	& > li{
// 		text-align: center !important;
// 	}
// }
