.xf-tooltip {
    div {
        transition: opacity 0.3s;
    }
    .xf-tooltip-title {
        position: fixed;
        z-index: 999;
        border-radius: 3px;
        background: rgba(0,0,0,0.75);
        padding: 8px;
        width: auto;
        display: none;
        font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
        font-size: 14px;
        &::before {
            position: absolute;
            top: 0;
            bottom: 0;
            left: -2px;
            display: block;
            width: 4px;
            height: 4px;
            margin: auto;
            background-color: rgba(0, 0, 0, 0.75);
            content: '';
            pointer-events: auto;
            transform: rotate(45deg);
        }

    }
    @keyframes changeColor {
        0%   {
            opacity: 0;
        }
        100% {opacity: 1;}
    }
}
.xf-tooltip-open {
    & > .xf-tooltip-title {
        display: block;
        // animation: changeColor 0.4s;

    }
}
