@import '~app/style/public.less';
@import '~app/style/theme.less';
@import '~app/containers/Search/Ylls/ylls.less';

.sfgl-item{
    & > div{
        flex: 1;
        // border: 1px solid #ccc;
    }
    & > span{
        flex: 1;
        text-align: right;
    }

}
.hx-title{
    padding: 10px;
    text-align: right;
}
