.contract {
    font-size: .12rem;
    font-family: PingFangSC-Regular;
    background: #ffffff;
    padding: .05rem;
    &-info {
        margin-bottom: .05rem;
        padding: 0 .05rem;
        text-align: justify;
        text-justify: inter-ideograph;
        word-break: break-all;
        line-height: .2rem;
    }

}
