.help-center-wrap {

	// position: absolute;
	// left: 0;
	// right: 0;
	// bottom: 0;
	// top: .05rem;
    text-align: center;
    font-size: .14rem;
	color: #333;
	background: #fff;

    .help-center-img {
		margin-top: .2rem;
        width: 1.6rem;
        height: 1.6rem;
    }

    .help-center-text {
		margin-top: .05rem;
        line-height: .22rem;

		.help-center-text-sub {
			color: #999;
			font-size: .12rem;
		}
    }

    .help-center-text,
    .help-center-tel {
        & > span {
            display: block;
        }
    }

    .help-center-tel {
        margin-top: .15rem;
        line-height: .26rem;

		.help-center-tel-number {
			color: #228AE6;
			text-decoration: underline;
		}
    }

    .help-center-button {

        margin-top: .3rem;

		& > a,
		& > span {
			width: 1.6rem;
			height: .38rem;
			line-height: .38rem;
			border: #228AE6 1px solid;
			border-radius: .04rem;
            display: block;
            margin: .14rem auto 0;
			color: #228AE6;
        }
    }

    .help-center-version {
        color: #999;
        font-size: .12rem;
        margin-top: .1rem;
    }
}


.home-pay-guide-wrap {
	padding: .12rem .06rem;
	& > img {
		width: 100%;
	}
}
.home-pay-guide-button-wrap {

	height: .56rem;
	border-top: 1px solid #ddd;
	display: flex;
	justify-content: center;
	align-items: center;

	.home-pay-guide-button {
		width: 95%;
		height: .44rem;
		line-height: .44rem;
		background: #3296FA;
		color: #fff;
		text-align: center;
		border-radius: .06rem;
	}
}
