
.info{
    font-size: 12px;
    &-content {
        line-height: 24px;
        max-height: 200px;
        overflow-y: scroll;
    }
    &-btn {
        width: 100px;
        height: 35px;
        text-align: center;
        line-height: 35px;
        color: #fff;
        border: 0;
        background: #5ec9f6;
        border-color: #5ec9f6;
        border-radius: 5px;
        margin: 0 auto;
        margin-top: 20px;
        cursor: pointer;
        display: block;
        font-size: 16px;
    }
}
