.home-pay-guide-wrap {
	padding: .12rem .06rem;
	& > img {
		width: 100%;
	}
}
.home-pay-guide-button-wrap {

	height: .56rem;
	border-top: 1px solid #ddd;
	display: flex;
	justify-content: center;
	align-items: center;

	.home-pay-guide-button {
		width: 95%;
		height: .44rem;
		line-height: .44rem;
		background: #a90101;
		color: #fff;
		text-align: center;
		border-radius: .06rem;
	}
}
