@import '~app/style/index.less';

.filePrint{
    width: 480px;
	height: 670px;
    .printPreviewBody{
        height: auto;
        .print-preview-img{
            height:457px;
            width:480px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            img{
                margin-left: 45px
            }
        }
        .print-preview-btn-group{
            padding:0 20px;
        }
        .print-name {
            display: flex;
            border:1px solid #d9d9d9;
            border-radius:4px;
            padding-left: 5px;
        }
    }
}
